body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    color: black;
    text-align: left;
}

.header {
    line-height: 1.6;
    display: flex; /* Use Flexbox to align items horizontally */
    justify-content: space-between; /* Create space between left and right sections */
    align-items: center; /* Align items vertically in the center */
    padding: 20px; /* Add padding for spacing */
    background-color: wheat;
    padding-top: 100px;
    padding-bottom: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.left {
    max-width: 40%; /* Ensure left side has enough space */
    padding-left: 30px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    text-align: center;
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded edges */
    border: none; /* Optional: no border */
    cursor: pointer; /* Pointer cursor on hover */
}

.button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.left h1 {
    margin: 0; /* Remove default margin for better alignment */
}

.right img {
    max-width: 800px; /* Limit the image width */
    border-radius: 15px; /* Apply rounded edges */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow for better aesthetics */
}

.right {
    max-width: 60%; /* Restrict the right section width */
    text-align: center; /* Center the image in its container */
    padding-right: 10px;
}

hr{
    background-color: black;
    height: 2px;
    border: none;
}

.main_page{
    background-color: #4CAF50;
    color: #F5F5DC;
    padding: 50px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

h5 {
    margin: 0; /* Remove default margins */
}

.info-container {
    line-height: 1.6;
    display: flex; 
    justify-content: space-around; 
        /* flex-start, flex-end, center, space-around, space-between, space-evenly */
    align-items: center; 
        /* flex-start, flex-end, center */
    /*flex-direction: column  */
    flex-wrap: wrap;
    /* align-content will align wrapped around items */
    padding: 100px;
}

.info{
    width: 100px;
    height: 500px;
    display: flex; /* Center the number inside the box */
    flex-direction: column;
    align-items: center;
    font-size: 3rem; /* Large font size for numbers */
    color: black; /* White text for contrast */
    border-radius: 10px; /* Rounded corners */
}

.info-1 {
    margin-right: 40px;
    flex: 1;    
    background-color: #4CAF50; 
}

.info-2 {
    flex: 1;
    background-color: #4CAF50; 
}

.info-3 {
    margin-left: 40px;
    flex: 1;
    background-color: #4CAF50; 
}

.right_text {
    flex: 1;
    min-width: 300px;
    text-align: left;
}

.left_image{
    flex: 1;
}

.left_image img {
    max-width: 300px;
}

.alt_main_page{
    background-color: wheat;
    color: black;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

main{
    background-color: #333;
}


footer {
    background-color: #8B4513;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    
}

.flex-container {
    display: flex; 
    justify-content: space-around; 
        /* flex-start, flex-end, center, space-around, space-between, space-evenly */
    align-items: center; 
        /* flex-start, flex-end, center */
    /*flex-direction: column  */
    flex-wrap: wrap;
    /* align-content will align wrapped around items */
    padding: 5px;
    background-color: wheat;
}

/* General box styles */
.navbar {
    display: flex; /* Flexbox for a horizontal layout */
    justify-content: flex-end; /* Center items */
    align-items: center;
    list-style: none;
}

.navbar-item {
    text-decoration: none; /* Remove underline */
    background-color: #333;
    color: white; /* White text */
    font-size: 1.2rem; /* Larger text */
    padding: 15px 25px; /* Adequate padding for each link */
    margin: 0 10px; /* Spacing between the items */
    border-radius: 8px; /* Rounded corners */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
}

.navbar-item:hover {
    background-color: #45a049; /* Darker green on hover */
    transform: translateY(-2px); /* Slight raise effect */
}

.navbar-item:active {
    background-color: #388e3c; /* Even darker green when clicked */
    transform: translateY(2px); /* Pressed effect */
}

.form-container{
    background-color: #4E9B66 ;
    color: #F5F5DC;
    padding: 20px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    text-align: center;
    vertical-align: top;
    flex-wrap: wrap;
}

.table-container{
    background-color: #4E9B66 ;
    color: #F5F5DC;
    padding: 20px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    text-align: center;
    vertical-align: top;
    flex-wrap: wrap;
}

.header-section{
    line-height: 1.6;
    align-items: center; /* Align items vertically in the center */
    padding: 20px; /* Add padding for spacing */
    background-color: wheat;
    padding-top: 100px;
    padding-bottom: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.button {
    background-color: #4CAF50; /* Green button color */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}


.about-header {
    line-height: 1.6;
    padding: 20px; /* Add padding for spacing */
    background-color: wheat;
    padding-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.our-story{
    line-height: 1.6;
    background-color: #4CAF50;
    color: black;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.auth-container{
    line-height: 1.6;
    background-color: #4E9B66 ;
    color: #F5F5DC;
    padding: 20px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}